In [ ]:
var_int = 10
var_float = 3.92
var_string = "Hi"
print(var_int, var_float, var_string)

10 3.92 Hi

In [ ]:
list = ["I", "Love", "Python"]

for i in list:
  print(i)

I
Love
Python

In [ ]:
var1 = 5+4**3
var2 = "Python" * 3
remainder = 41%3
print(var1)
print(var2)
print(remainder)

69
PythonPythonPython
2

In [ ]:
x = 'looked'
 
print("I %s at the topics and %s it"%(x, "coded"))

I looked at the topics and coded it

In [ ]:
var_string = "Python is awesome"
print(var_string.count("o"))
print(var_string[7:18])
print(var_string.lower())

2
is awesome
python is awesome

In [ ]:
age = 12

if age>=12:
  print("You are allowed")
else:
  print("You are not allowed")

You are allowed

In [ ]:
myList = ["hello", "python", "world"]
for i in myList:
  print(i)

count = 0
while count < 3:
  print(count)
  count = count+1

hello
python
world
0
1
2

In [ ]:
def add_num(a, b):
    return a + b

def print_text():
    print("This is a function!")

x = add_num(3, 4)
print(x)
print_text()

7
This is a function!

In [ ]:
class add:
    def findsum(self, n1, n2):
        sum = n1 + n2
        return sum
n1 = 100
n2 = 50
Obj = add()
sum = Obj.findsum(n1, n2)
print("The sum of two numbers is: ", sum)

The sum of two numbers is:  150

In [ ]:
phonebook = {"Anik" : 123,"Sumi" : 321,"Jannat" : 312}
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

Phone number of Anik is 123
Phone number of Sumi is 321
Phone number of Jannat is 312

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>